* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: geneva;
    background-color: #222;
    color: #fff;
}

.container {
    width: 85%;
    margin: 0 auto;
    text-align: center;
}


nav {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(10px);
}

.nav-name {
    font-size: 1.5rem;
    color: #fff;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 20px;
    background-color: #003366;
    border-radius: 5px;
}

nav ul li a:hover {
    background-color: #888;
}


header {
    background-image: url('images/photo2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 150px 0;
    text-align: center;
    color: #fff;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
}

header h1 {
    font-size: 3rem;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 10px;
    transition: transform 0.3s ease;
}

header p {
    color: #ccc;
    font-size: 1.2rem;
    margin-top: 10px;
}

header h1:hover {
    transform: scale(1.1);
}

.intro {
    padding: 50px 0;
    text-align: center;
}

.intro h2 {
    font-size: 2rem;
    color: #ccc;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
    padding-bottom: 30px;
}


.intro p {
    font-size: 1.1rem;
    color: #fff;
    max-width: 800px;
    margin: 20px auto;
    line-height: 1.6;
    text-align: left;
}




button {
    background-color: #003366;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
}

button:hover {
    background-color: #888;
}




.gallery {
    padding: 50px 0;
}

.gallery .photo {
    margin-bottom: 30px;
    text-align: center;
}

.gallery img {
    display: block;
    margin: 0 auto;
    max-width: 700px;
    width: 100%;
    height: auto;
    border: 5px solid #003366;
}

.photo img {
    display: block;
    margin: 0 auto;
    max-width: 700px;
    width: 100%;
    height: auto;
    border: 5px solid #003366;
}


.gallery p {
    margin-top: 10px;
    font-size: 1rem;
    color: #ccc;
}

footer {
    background-color: #444;
    padding: 20px 0;
    text-align: center;
}

footer p {
    color: #ccc;
    font-size: 0.9rem;
}

.gallery-controls {
    text-align: center;
    margin-top: 20px;
}

.gallery-controls button {
    background-color: #003366;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    margin: 0 10px;
}

.gallery-controls button:hover {
    background-color: #888;
}

.video-section {
    padding: 50px 0;
    text-align: center;
    background-color: #333;
}



.video-section h2 {
    color: #fff;
    margin-bottom: 20px;
}

.video-section iframe {
    border: 5px solid #003366;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
    max-width: 100%;
}






.video-section2 iframe {
    border: 5px solid #003366;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
    max-width: 100%;
}




.text-container {
    background-color: #888;
    color: #fff;
    padding: 20px;
    border-radius: 8px;
    margin: 20px auto;
    max-width: 800px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 1);
    line-height: 1.6;
}

.text-container p {
    margin-bottom: 15px;
}

@keyframes slideInLeft {
  from {
    transform: translateX(-300px);
  }
  to {
    transform: translate(0);
  }
}

.slideInLeft {
    animation: slideInLeft 1s ease-in;
}


.separator {
    height: 2px;
    width: 40%;
    margin: 50px auto;
    background-color: lightgrey;
    animation: grow 2s ease-in-out;
}


@keyframes grow {
    0% {
        width: 0;
    }
    100% {
        width: 50%;
    }
}



















